*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
}

/*public class*/
.scroll{
	overflow: scroll;
}
.clearfix:before{
	content: "";
	display: table;
}
.clearfix:after{
	content: "";
	clear: both;
	display: table;
}
.borcolor-blue{
	border-color: rgb(0,185,161);
}
.borcolor-green{
	border-color: rgb(32,137,196);
}
.borcolor-red{
	border-color: rgb(222,47,32);
}
.borcolor-yellow{
	border-color: rgb(225,210,54);
}

.bgcolor-blue{
	background-color: rgb(0,185,161);
}
.bgcolor-green{
	background-color: rgb(32,137,196);
}
.bgcolor-red{
	background-color: rgb(222,47,32);
}
.bgcolor-yellow{
	background-color: rgb(225,210,54);
}
#succNums{
	background-position: 96% center;
}
header{
	height: 70px;
	width: 100%;
	background-color: rgb(0,133,193);
	background-image: url(../images/task9_logo.png);
	background-position: 3% 50%;
	background-repeat: no-repeat;
	text-align: right;
	position: relative;
	z-index: 99;
	/*position: fixed;
	top: 0;*/
}

header .wrapper{
	height: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 7%;
}

header input{
	height: 30px;
	width: 400px;
	border: 1px solid #fff;
	border-radius: 10px;
	outline: none;
	font-size: 1.2rem;
	background-image: url(../images/t9_search_bgi.png);
	background-repeat: no-repeat;
	background-position: 3% 50%;
	padding-left: 7.5%;
    box-sizing: border-box;
}

header a{
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
    position: relative;
}

header a:before{
	content: url(../images/t9_user.png);
	position: absolute;
	left: -20px;
	top: 0;
}

.main-wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
	top: 0;
	box-sizing: border-box;
	padding-top: 70px;
	z-index: 10;
}

.main-wrapper .side-left{
	width: 20%;
	background-color: rgb(43,45,62);
	position: relative;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	float: left;
	font-size: 0.6rem;
}

.side-left .info-show{
	width: 150px;
	margin-bottom: 20px;
	color: #fff;
	position: absolute;
    left: 50%;
    margin-left: -75px;
    margin-top: 26px;
    top: 0;
}

.side-left .info-show .head-portrait{
	width: 60px;
	height: 60px;

}

.side-left .info-show p{
	display: inline-block;
    height: 60px;
    line-height: 60px;
    vertical-align: bottom;
    margin-left: 10px;
    
}

.side-left .info-show span{
	width: 1.6rem;
    display: inline-block;
    margin-top: 20px;
    color: rgb(102,119,141);
}

.side-left .info-show span:first-of-type{
	padding-right: 22px;
	border-right: 0.5px solid #ccc;
}
.side-left .info-show span:last-of-type{
	padding-left: 22px;
	border-left: 0.5px solid #ccc;
}

.side-left li{
	list-style: none;

}
.side-left li a{
	text-decoration: none;
	color: rgb(102,119,141);
}
.side-left li a.cur-a{
	color: #fff;
}
.user-dynamic{
	text-align: left;
	padding-left: 26%;
	position: absolute;
	margin-top: 150px;
}


.l0-ico{
	display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}
.user-dynamic .menu-list .personal-report-ico{
	background-image: url(../images/task9_pic.png);

}

.l0-ico{
	display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: bottom;
}

.l1-ico{
	width: 15px;
	height: 15px;
	display: inline-block;
	background-size: contain;
    background-repeat: no-repeat;
    padding: 0 2px;
    vertical-align: bottom;
}

.l2-ico{
	width: 12px;
	height: 12px;
	display: inline-block;
	/*background-size: cover;*/
    background-repeat: no-repeat;
    padding: 0 1px;
    vertical-align: bottom;
}

.arrow{
	background-image: url(../images/arrow.png);
	padding: 0 0px;
}


.file{
	background-image: url(../images/file.png);
}


.cur-file{
	background-image: url(../images/cur_file.png);
}
.cur-arrow{
	background-image: url(../images/cur_arrow.png);
	transform: translateX(-5px);
    margin-right: -3px;

}

.cur-page{
	background-image: url(../images/cur_page.png);
}

.page{
	background-image: url(../images/page.png);
}

.fav-ico{
	background-image: url(../images/fav.png);
}

.share-ico{
	background-image: url(../images/share.png);
}

.img-col-ico{
	background-image: url(../images/fav.png);
}

.growup-note-ico{
	background-image: url(../images/fav.png);
}

.account-info-ico{
	background-image: url(../images/account.png);
}

.user-dynamic .tree-level-1{
	padding: 3px 0;
	margin: 8px 0;
}

.user-dynamic .tree-level-2{
	margin: 13px 0 15px 20px;
}

.user-dynamic .tree-level-3{
	margin: 10px 0 13px 70px;
}

.right-main{
	overflow: hidden;
	height: 100%;
	widows: 80%;
	box-sizing: border-box;	
	background-color: rgb(238,238,238);
}
.right-main .crumbs{
	width: 100%;
	height: 30px;
	background-color: #fff;
	color: #ccc;
	line-height: 30px;
	font-size: 0.9rem;
	padding-left: 3%;
}
.right-main .crumbs i{
	color: rgb(125,163,203);
	font-style: normal;
	margin-left: 10px;
}

.right-main .crumbs span{
	margin: 0 10px;
}


.report_wrapper{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 30px 50px 0 40px; 
	overflow: hidden;
	overflow-y: auto;
}

.report_wrapper .compre-search{
	background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding-right: 20%;
    position: relative;
}



.compre-search select{
	color: rgb(159,159,159);
    -webkit-appearance: none;
    width: 150px;
    height: 28px;
    padding-left: 10px;
    border-radius: 0;
    background-position-x: 95%;
    outline: none;
    margin: 3px 0;
    background-color: #fff;
    background-image: url(../images/select_arrow.png);
    background-repeat: no-repeat;
    background-position: 90% center;
}
.compre-search select.sm{
	width: 75px;
}
.compre-search input[type="text"]{
	color: rgb(159,159,159);
    width: 150px;
    height: 28px;
    padding-left: 10px;
    border-radius: 0;
    /*background: url("../images/pull_down_ico.png") no-repeat right #ddd;*/
    background-position-x: 95%;
    /*margin: 0 30px;*/
    outline: none;
    margin: 3px 0;
    background-color: #fff;
    box-sizing: border-box;
}
.compre-search input[type="button"]{
	position: absolute;
	-webkit-appearance: none;
	background-color: rgb(0,133,193);
	border: none;
	outline: none;
	width: 65px;
	height: 26px;
	color: #fff;
	top: 50%;
	margin-top: -13px;
	right: 13%;
}
.compre-search .business-part:after{
	content: url(../images/exchange.png);
    position: absolute;
    top: 13px;
    right: -15%;
}

.compre-search > div{
	font-size: 0.9rem;
	display: inline-block;
	margin: 20px 2%;
	position: relative;
	color: #ccc;
}
.compre-search label{
	display: inline-block;
	margin: 0 9px 0 20px;
}

.compre-search div:first-child{
	vertical-align: top
}
.history-dis{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	
}
.history-dis div{
	background-color: #fff;
	margin: 0 3px;
	height: 80px;
	box-sizing: border-box;
	width: 12%;
}
.history-dis div.his-items{
	text-align: center;
	padding: 15px 0;
	flex-grow: 1;
}
.history-dis div.his-items:hover{
	border-top: 5px solid rgb(0,133,193);
	padding-top: 10px;
}
.history-dis div.cur-his-item{
	border-top: 5px solid rgb(0,133,193);
	padding-top: 10px;
}
.history-dis div.his-items p:first-child{
	font-size: 0.9rem;
	margin-bottom: 10px;
}
.history-dis div.his-items p:last-child{
	font-size: 1.5rem;
	color: red;
	display: inline-block;
	padding-left: 1rem;
}
.history-dis div.his-items p:last-child:before{
	/*此处放置人民币的标志*/
}
.history-dis div:first-child{
	margin-left: 0;
}
.history-dis div:last-child{
	position: relative;
	margin-right: 0;
	width: 160px;
	text-align: right;
	line-height: 80px;
	padding-right: 30px;
    padding-left: 60px;
}
.history-dis div.prev,div.next{
	width: 45px;
}
.history-dis .his-search:before{
	content: url(../images/his_search.png);
	position: absolute;
	left: 13%;
	top: 10%;
}
.history-dis .his-search{
	cursor: pointer;
}

.history-dis .prev,.next{
	width: 4%;
	background-image: url(../images/prev.png);
	background-repeat: no-repeat;
	background-position: center;
}
.history-dis .next{
	background-image: url(../images/next.png);
}
.static-show{
	width: 100%;
	margin-top: 30px;
}
.static-show p{
	margin-bottom: 8px;
}
.static-show .static-month-dis{
	display: flex;
	height: 90px;
	position: relative;
}
.static-show .static-month-dis > .sta-month-items{
	position: relative;
	flex-grow: 1;
	box-sizing: border-box;
	height: 100%;
	background-color: #fff;
	margin: 0 13px;
	padding-left: 10px;
	padding-top: 22px;
	border-left-width: 3px;
	border-left-style: solid;
}

.static-show .static-month-dis > .sta-month-items p:first-child{
	color: rgb(130,130,130);
	margin-bottom: 20px;
	font-size: 0.8rem;
}
.static-show .static-month-dis > .sta-month-items p:last-child{
	color: rgb(198,198,198);
	font-size: 0.6rem;
}
.static-show .static-month-dis > .sta-month-items:first-child{
	margin-left: 0;
}
.static-show .static-month-dis > .sta-month-items:last-child{
	margin-right: 0;
}
.static-month-dis > .sta-month-items .block-dis{
	position: absolute;
	height: 60px;
	width: 40%;
	top: 50%;
	margin-top: -30px;
	right: 10%;
}

.compre-show{
	display: flex;
	flex-flow: wrap;
	width: 100%;
	margin-top: 20px;
}
.compre-show > section{
	height: 430px;
	flex-grow: 1;
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
	position: relative;
}
.compre-show > section .caption{
	height: 50px;
	background-color: rgb(244,245,247);
	width: 100%;
	color: #ccc;
	line-height: 50px;
	box-sizing: border-box;
	padding-left: 20px;
}
.compre-show > section:first-child{
	margin-right: 10px;

}
.compre-show > section:last-child{
	margin-left: 10px;
}
.compre-show > section.long-block-show{
	width: 60%;
}
.compre-show > section.short-block-show{
	width: 36%;
}
/*高度设死，最多是宽度为动态变化*/
.table-dis .projrct-itemsdis-wrapper{
	width: 90%;
	height: 360px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60px;

}
.table-dis .projrct-itemsdis-wrapper .items-button-wrapper{
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.table-dis .projrct-itemsdis-wrapper .items-button-wrapper div{
	display: inline-block;
    background-color: rgb(237,235,241);
    height: 30px;
    width: 17%;
    border-radius: 3px 3px 0 0;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}
.table-dis .projrct-itemsdis-wrapper .items-button-wrapper div:first-child{
	border: 1px solid #ccc;
    border-bottom: 0;
    background-color: #fff;
    height: 32px;

}
.table-dis .projrct-itemsdis-wrapper .table-wrapper{
	height: 310px;
	border: 1px solid #ccc;
	margin-top: 31px;
	position: relative;
}
.projrct-itemsdis-wrapper .table-wrapper table{
	position: absolute;
    width: 90%;
    height: 230px;
    top: 50%;
    margin-top: -115px;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
}
.projrct-itemsdis-wrapper .table-wrapper table td{
	border: 1px solid #ccc;
	text-align: center;
}
.project-detail .project-detail-content{
	padding: 20px 40px 0 40px;
}
.project-detail .project-detail-content .ftcolor-1{
	color: #ccc;
}
.project-detail .project-detail-content > i:first-child{
	font-style: normal;
	margin-bottom: 6px;
	display: inline-block;
}
.project-detail .project-detail-content .price,.manager{
	display: inline-block;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    height: 60px;
    padding-top: 7px;
    padding-left: 10px;
}
.project-detail .project-detail-content span{
	margin-bottom: 5px;
	margin-bottom: 9px;
    display: inline-block;
}
.project-detail .project-detail-content h6{
    display: block;
    padding: 5px 0 7px 0;
}
.project-detail .project-detail-content .price{
	width: 36%;
    border-right: 1px solid #ccc;
}
.project-detail .project-detail-content .manager{
	width: 63%;
}
.project-detail .project-detail-content > h4{
	margin-bottom: 12px;
}
.project-detail .project-detail-content .detail{
    padding-left: 10px;
    clear: both;
    height: 180px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 17px;
}
.project-detail-content input{
	vertical-align: middle;
    margin-right: 9px;
}
.project-detail-content .pd-search{
	position: relative;
}
#pd-search-btn{
	background: rgb(30,137,195);
    width: 60px;
    height: 25px;
    border-radius: 3px;
    display: inline-block;
    /* vertical-align: -webkit-baseline-middle; */
    text-align: center;
    line-height: 25px;
    position: absolute;
    right: 10%;
    top: -5px;
}
.calendar .sbs-wrapper{
	width: 91%;
    padding: 10px 20px;
    margin-bottom: 300px;
}
#month{
	width: 22%;
}
.short-block-show .select-cols{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(175,214,240);
}
.short-block-show .select-cols select{
	color: #000;
    -webkit-appearance: none;
    width: 25%;
    height: 23px;
    padding-left: 10px;
    border-radius: 0;
    background-position-x: 95%;
    outline: none;
    margin: 3px 0;
    background-color: #fff;
    background-image: url(../images/select_arrow.png);
    background-repeat: no-repeat;
    background-position: 90% center;
}
.short-block-show .select-cols input[type="button"]{
	width: 18%;
    height: 23px;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
}
.calendar-content .calender-header{
	display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid #ccc;
}
.calendar-content .calender-header .week{
    width: 14%;
    height: 36px;
    text-align: center;
    line-height: 36px;
    box-sizing: border-box;
}
.calendar-content .calender-days{
	display: flex;
	flex-wrap: wrap;
	padding-top: 13px;
}
.calendar-content .calender-days .days{
    width: 14%;
    height: 36px;
    text-align: center;
    margin: 6px 0;
}
.calendar-content .calender-days .days span:first-child{
	font-size: 0.8rem;
}
.calendar-content .calender-days .fes span:last-child{
	color: red;
}
.calendar-content .calender-days .weekend span:first-child{
	color: red;
}
.rank-list .rank-list-table-wrapper{
	width: 100%;
	position: relative;
}
.rank-list .rank-list-table-wrapper table{
	height: 320px;
	position: absolute;
	top: 22px;
	left: 50%;
	transform: translateX(-50%);
	border-collapse: collapse;
	width: 90%;
	text-align: center;
}
.rank-list .rank-list-table-wrapper table tr td:last-child{
	width: 66%;
	text-align: left;
	padding-left: 20px;
}
.rank-list .rank-list-table-wrapper table tr th:last-child{
	text-align: left;
	padding-left: 20px;
}
.rank-list .rank-list-table-wrapper table td,th{
	border: 1px solid #ccc;
}
.rank-list .rank-list-table-wrapper table tr td .percent{
	display: inline-block;
    height: 3px;
    width: 60%;
    background-color: #ccc;
    vertical-align: super;
    margin-left: 3%;
    position: relative;
    z-index: 100;
}
.rank-list .rank-list-table-wrapper table tr td .percent span{
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	z-index: 999;
	background-color: red;
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-90{
	width: 90%;
	background-color: rgb(252,92,68);
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-80{
	width: 80%;
	background-color: rgb(253,118,67);
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-70{
	width: 70%;
	background-color: rgb(252,151,55);
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-60{
	width: 60%;
	background-color: rgb(93,201,243);
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-50{
	width: 50%;
	background-color: rgb(93,201,243);
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-40{
	width: 40%;
	background-color: rgb(93,201,243);
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-36{
	width: 36%;
	background-color: rgb(93,201,243);
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-35{
	width: 35%;
	background-color: rgb(93,201,243);
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-33{
	width: 33%;
	background-color: rgb(93,201,243);
}
.rank-list .rank-list-table-wrapper table tr td .percent span.pt-32{
	width: 32%;
	background-color: rgb(93,201,243);
}